body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.title {
    color: #fff;
    text-align: center;
}

hr {
    width: 100%;
}

header {
    margin-bottom: 7em;

}

.navbar {
    overflow: hidden;
    position: fixed;
    background-color: #333;
    top: 0;
    width: 100%
}

h1 a {
    color: inherit;
    text-decoration: none;
}

.main {
    padding: 0 15px
}

.container {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#blog-list {
    text-align: left;
}

#blog-list h2 {
    text-align: left;
}

#post-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

input#post-title, textarea#post-body {
    margin: 7px 0;
}

button {
    padding: 7px;
    cursor: pointer;
}